{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container pe-cont">
  <div class="jumbotron pe-jumb">
    <div class="container edit_form-cont text-center">
      <form class="edit-post form-class" enctype="multipart/form-data" method="POST">
        <h3 class="pe-h3 text-center">Edit your post</h3>
        <div class="container-field border-bottom mb-1">
          <fieldset class="mt-3">
            {% csrf_token %}
            {{ form|crispy }}

          </fieldset>
        </div>
        <div class="btn-img-add">
          <button type="button" class="btn btn-light" id="add-image" name="button"><i class="fas fa-images"></i><p>Add image</p></button>
        </div>
        <fieldset class="mt-2 mb-2" >
          <button type="submit" class="btn btn-success btn-lg" name="button-editnew">Update</button>
        </fieldset>

      </form>
    </div>
  </div>
</div>

{% endblock %}
